@import url('https://fonts.googleapis.com/css?family=Space+Mono');

$arrowColor: linear-gradient(90deg, rgba(37,47,73,1) 0%, rgba(197,203,223,1) 50%, rgba(68,79,112,1) 100%);

.arrowMenu {
    // font-family: "Space Mono", monospace;
    outline: none;
    border: none;
    background: none;
    height: 100px;
    padding: 35px 25px;
    .left {
        outline: none;
        border: none;
        background: none;
        text-decoration:none;
        .text-menu {
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            color: white;
        }
        .arrowShape {
            background: $arrowColor;
            display: block;
            height: 3px;
            margin: 0 0 10px;
            transition: all 0.3s ease-in-out;
            width: 40px;
            &:first-child {
                width: 30px;
                transform: rotate(-68deg) translate(-7px, 11px);
                transform-origin: 10px;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
                transform-origin: -9px;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: -9px;
            }
            &:nth-child(4) {
                width: 30px;
                transform: rotate(68deg) translate(-7px, -11px);
                transform-origin: 10px;
            }
        }
        &:hover {
            .text-menu {
                transform: translateY(-30px);
            }
            .arrowShape{
                &:first-child {
                    transform: rotate(90deg) translate(35px, 15px);
                }
                &:nth-child(2) {
                    transform: rotate(0deg) translate(19px, 0px);
                }
                &:nth-child(3) {
                    transform: rotate(0deg) translate(-5px, 28px);
                }
                &:nth-child(4){
                    transform: rotate(270deg) translate(7px, 50px);
                }
            }
        }
    }
    .right {
        outline: none;
        border: none;
        background: none;
        text-decoration:none;
        float: right;
        .text-menu {
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            color: white;
        }
        .arrowShape {
            background: $arrowColor;
            display: block;
            height: 3px;
            margin: 0 0 10px;
            transition: all 0.3s ease-in-out;
            width: 40px;
            &:first-child {
                width: 30px;
                transform: rotate(68deg) translate(4px, -9px);
                transform-origin: 8px;
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                transform-origin: 49px;
            }
            &:nth-child(3) {
                transform: rotate(45deg);
                transform-origin: 49px;
            }
            &:nth-child(4) {
                width: 30px;
                transform: rotate(-68deg) translate(4px, 9px);
                transform-origin: 8px;
            }
        }
        &:hover {
            .text-menu {
                transform: translateY(-30px);
            }
            .arrowShape{
                &:first-child {
                    transform: rotate(270deg) translate(-34px, 67px);
                }
                &:nth-child(2) {
                    transform: rotate(0deg) translate(35px, 0px);
                }
                &:nth-child(3) {
                    transform: rotate(0deg) translate(-5px, 28px);
                }
                &:nth-child(4){
                    transform: rotate(90deg) translate(-6px, 13px);
                }
            }
        }
    }
    .down {
        outline: none;
        border: none;
        background: none;
        text-decoration:none;
        float: none;
        position: absolute;
        right: 0;
        bottom: 0;
        left: -50px;
        .text-menu {
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            color: white;
        }
        .arrowShape {
            background: $arrowColor;
            display: block;
            height: 3px;
            margin: 0 0 10px;
            transition: all 0.3s ease-in-out;
            width: 40px;
            &:first-child {
                width: 30px;
                transform: rotate(-25deg) translate(14px, 48px);
                transform-origin: 6px;
            }
            &:nth-child(2) {
                transform: rotate(45deg) translate(9px, -5px);
                transform-origin: -15px;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(11px, 27px);
                transform-origin: 25px;
            }
            &:nth-child(4) {
                width: 30px;
                transform: rotate(-152deg) translate(-15px, 11px);
                transform-origin: 8px;
            }
        }
        &:hover {
            .text-menu {
                transform: translateY(-30px);
            }
            .arrowShape{
                &:first-child {
                    transform: rotate(90deg) translate(23px, -69px);
                }
                &:nth-child(2) {
                    transform: rotate(0deg) translate(35px, 5px);
                }
                &:nth-child(3) {
                    transform: rotate(0deg) translate(-5px, 28px);
                }
                &:nth-child(4){
                    transform: rotate(270deg) translate(-8px, -13px);
                }
            }
        }
    }
}