.portfolioText {
    background-color: #808385;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 7px 8px 0px 0px rgba(82,79,77,1);

    .screw {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #b8bbc1;
        border-radius: 50%;
    }
    .top-left {
        top: 20px;
        left: 25px;
    }
    .top-right {
        top: 20px;
        right: 25px;
    }
    .bottom-left {
        bottom: 20px;
        left: 25px;
    }
    .bottom-right {
        bottom: 20px;
        right: 25px;
    }
}

.image {
    width: 650px;
    height: 350px;
}

.imageCaption {
    background-color: grey;
}